 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/5e84e03492f49139d14393b790e41fd5.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 791px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 694px;
  min-height: 421px;
  height: auto;
  margin: 60px auto 60px 196px;
}

.u-section-1 .u-container-layout-1 {
  padding-bottom: 0;
}

.u-section-1 .u-text-1 {
  margin: 161px 174px 0 200px;
}

.u-section-1 .u-image-1 {
  width: 313px;
  height: 54px;
  margin: 102px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 618px;
    height: auto;
  }

  .u-section-1 .u-image-1 {
    width: 258px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    width: 473px;
    margin-left: 26px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 229px;
  }

  .u-section-1 .u-image-1 {
    width: 198px;
    margin-top: 80px;
    margin-left: 138px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 443px;
    margin-left: 0;
  }

  .u-section-1 .u-text-1 {
    margin-right: 97px;
    margin-left: 172px;
  }

  .u-section-1 .u-image-1 {
    width: 185px;
    margin-right: 121px;
    margin-left: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 254px;
    margin-right: 0;
    margin-left: 108px;
  }

  .u-section-1 .u-image-1 {
    width: 156px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 278px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: -129px;
  margin-bottom: 38px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 362px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding-left: 20px;
}

.u-section-2 .u-icon-1 {
  height: 55px;
  width: 55px;
  margin: 44px auto 0 0;
}

.u-section-2 .u-text-1 {
  position: relative;
  margin: 35px 20px 0 0;
}

.u-section-2 .u-text-2 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 362px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding-left: 20px;
}

.u-section-2 .u-icon-2 {
  height: 55px;
  width: 55px;
  margin: 44px auto 0 0;
}

.u-section-2 .u-text-3 {
  position: relative;
  margin: 35px 20px 0 0;
}

.u-section-2 .u-text-4 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 362px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding-left: 20px;
}

.u-section-2 .u-icon-3 {
  height: 54px;
  width: 54px;
  margin: 45px auto 0 0;
}

.u-section-2 .u-text-5 {
  position: relative;
  margin: 35px 20px 0 0;
}

.u-section-2 .u-text-6 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 251px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-right: 8px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 368px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-right: 8px;
    margin-bottom: 20px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 368px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 0;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 8px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin: 20px 0 35px 16px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 7px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 34px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 7px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 7px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: 45px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 34px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 7px;
    margin-bottom: 35px;
  }

  .u-section-2 .u-icon-3 {
    margin-left: 12px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 13px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 17px;
    margin-left: 12px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 993px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -125px;
    margin-bottom: 34px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 20px;
    margin-left: 9px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 10px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 6px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-2 .u-text-3 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 6px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 6px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 806px;
}

.u-section-3 .u-layout-wrap-1 {
  margin: 116px auto 116px 0;
}

.u-section-3 .u-image-1 {
  background-image: url("images/35478c6fdefb2d1e615a1fb04523ba60.jpeg");
  min-height: 571px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 191px;
}

.u-section-3 .u-container-layout-2 {
  padding-left: 20px;
  padding-right: 0;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 20px;
  position: relative;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  width: 452px;
  height: 53px;
  margin: 0 auto 20px 0;
}

.u-section-3 .u-image-3 {
  background-image: url("images/92fe291bd06eacf1b3eb52057726e105.jpeg");
  min-height: 190px;
  background-position: 50% 50%;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 190px;
}

.u-section-3 .u-text-2 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 190px;
}

.u-section-3 .u-text-3 {
  margin-left: 20px;
  margin-right: 20px;
  position: relative;
  font-size: 0.875rem;
}

.u-section-3 .u-image-4 {
  min-height: 190px;
  background-image: url("images/ddb8e16f553690931a130a6284edaf79.jpeg");
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-3 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
  }

  .u-section-3 .u-text-1 {
    margin-right: 16px;
  }

  .u-section-3 .u-image-2 {
    width: 373px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 16px;
    margin-right: 16px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 13px;
  }

  .u-section-3 .u-image-2 {
    width: 285px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 13px;
    margin-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-top: 25px;
    margin-right: 9px;
  }

  .u-section-3 .u-image-2 {
    width: 424px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    margin-right: 6px;
  }

  .u-section-3 .u-image-2 {
    width: 225px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 6px;
    margin-right: 6px;
  }
} .u-section-4 {
  background-image: url("images/68140723d43bb7cbe9bbf6d41c6357a8.jpeg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 581px;
}

.u-section-4 .u-group-1 {
  width: 570px;
  min-height: 238px;
  height: auto;
  margin: 172px auto;
}

.u-section-4 .u-container-layout-1 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-4 .u-text-1 {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 0;
}

.u-section-4 .u-image-1 {
  width: 456px;
  height: 54px;
  margin: 9px auto 0;
}

.u-section-4 .u-text-2 {
  font-size: 0.875rem;
  position: relative;
  margin: 9px 10px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-group-1 {
    width: 470px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-4 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-4 .u-image-1 {
    width: 376px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-group-1 {
    width: 360px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-4 .u-image-1 {
    width: 288px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-4 .u-group-1 {
    width: 338px;
    min-height: 220px;
    margin-bottom: 60px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-4 .u-image-1 {
    width: 276px;
    height: 33px;
    margin-top: 11px;
  }

  .u-section-4 .u-text-2 {
    margin: 11px 5px 20px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-group-1 {
    width: 283px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-4 .u-image-1 {
    width: 227px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 307px;
}

.u-section-5 .u-layout-wrap-1 {
  width: 895px;
  margin: 37px auto 37px 123px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 233px;
}

.u-section-5 .u-image-1 {
  width: 175px;
  height: 175px;
  object-position: 92.31% 50%;
  background-position: 92.31% 50%;
  margin: 25px auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 233px;
}

.u-section-5 .u-container-layout-2 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-5 .u-text-1 {
  position: relative;
  font-size: 0.875rem;
  margin: 28px 0 0;
}

.u-section-5 .u-text-2 {
  position: relative;
  margin: 20px 0 25px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-5 .u-layout-wrap-1 {
    width: 844px;
    margin-top: 34px;
    margin-bottom: 30px;
    margin-left: 48px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 251px;
  }

  .u-section-5 .u-image-1 {
    height: 144px;
    width: 144px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 251px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 331px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 40px;
    margin-bottom: 35px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 252px;
  }

  .u-section-5 .u-image-1 {
    width: 110px;
    height: 110px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 252px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 459px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 47px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-5 .u-image-1 {
    width: 104px;
    height: 104px;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 269px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 13px;
  }

  .u-section-5 .u-text-2 {
    margin-bottom: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 700px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 36px;
    margin-bottom: 36px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-5 .u-image-1 {
    width: 87px;
    height: 87px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 442px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 500px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 43px auto 43px 0;
}

.u-section-6 .u-image-1 {
  background-image: url("images/92fe291bd06eacf1b3eb52057726e105.jpeg");
  min-height: 415px;
  background-position: 50% 50%;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 415px;
}

.u-section-6 .u-container-layout-2 {
  padding-left: 10px;
  padding-right: 10px;
}

.u-section-6 .u-text-1 {
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  margin-bottom: 0;
}

.u-section-6 .u-image-2 {
  width: 456px;
  height: 54px;
  margin: 10px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 0.875rem;
  margin: 10px 10px 40px;
}

.u-section-6 .u-image-3 {
  background-image: url("images/66bac3d403394a684e507b1b1728e86c.jpeg");
  min-height: 415px;
  background-position: 50% 50%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-text-1 {
    margin-left: 8px;
    margin-right: 8px;
  }

  .u-section-6 .u-image-2 {
    width: 376px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-image-2 {
    width: 288px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 6px;
    margin-right: 6px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-left: 5px;
    margin-right: 5px;
  }

  .u-section-6 .u-image-2 {
    width: 463px;
    margin-top: 15px;
  }

  .u-section-6 .u-text-2 {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    margin-left: 3px;
    margin-right: 3px;
  }

  .u-section-6 .u-image-2 {
    width: 227px;
  }

  .u-section-6 .u-text-2 {
    margin-left: 3px;
    margin-right: 3px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 233px;
}

.u-section-7 .u-group-1 {
  min-height: 172px;
  width: 800px;
  height: auto;
  margin: 31px auto;
}

.u-section-7 .u-text-1 {
  position: relative;
  margin: 15px 60px 0;
}

.u-section-7 .u-btn-1 {
  border-radius: 29px;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 31px auto 15px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 660px;
    height: auto;
  }

  .u-section-7 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-7 .u-btn-1 {
    font-weight: 400;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-group-1 {
    width: 505px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-group-1 {
    width: 474px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 575px;
}

.u-section-8 .u-group-1 {
  min-height: 85px;
  width: 800px;
  height: auto;
  margin: 40px auto 0;
}

.u-section-8 .u-container-layout-1 {
  padding-left: 60px;
  padding-right: 60px;
}

.u-section-8 .u-text-1 {
  position: relative;
  margin: 10px 0;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 29px auto 0 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 225px;
}

.u-section-8 .u-container-layout-2 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-1 {
  height: 54px;
  width: 54px;
  margin: 2px auto 0;
}

.u-section-8 .u-text-2 {
  font-size: 0.875rem;
  position: relative;
  margin: 20px 30px 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 197px;
  background-image: none;
}

.u-section-8 .u-container-layout-3 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-2 {
  height: 54px;
  width: 54px;
  margin: 2px auto 0;
}

.u-section-8 .u-text-3 {
  font-size: 0.875rem;
  position: relative;
  margin: 20px 30px 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 226px;
  background-image: none;
}

.u-section-8 .u-container-layout-4 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-3 {
  height: 54px;
  width: 54px;
  margin: 2px auto 0;
}

.u-section-8 .u-text-4 {
  font-size: 0.875rem;
  position: relative;
  margin: 20px 30px 0;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 196px;
  background-image: none;
}

.u-section-8 .u-container-layout-5 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-4 {
  height: 54px;
  width: 54px;
  margin: 1px auto 0;
}

.u-section-8 .u-text-5 {
  font-size: 0.875rem;
  position: relative;
  margin: 20px 30px 0;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 225px;
  background-image: none;
}

.u-section-8 .u-container-layout-6 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-5 {
  height: 54px;
  width: 54px;
  margin: 2px auto 0;
}

.u-section-8 .u-text-6 {
  font-size: 0.875rem;
  position: relative;
  margin: 20px 30px 0;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 197px;
  background-image: none;
}

.u-section-8 .u-container-layout-7 {
  padding-left: 0;
  padding-right: 0;
}

.u-section-8 .u-icon-6 {
  height: 54px;
  width: 54px;
  margin: 1px auto 0;
}

.u-section-8 .u-text-7 {
  font-size: 0.875rem;
  position: relative;
  margin: 20px 30px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 660px;
    height: auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-text-2 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 25px;
    margin-right: 25px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 25px;
    margin-right: 25px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1037px;
  }

  .u-section-8 .u-group-1 {
    width: 505px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 553px;
    margin-right: auto;
    margin-bottom: 56px;
    margin-left: 84px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 19px;
    margin-right: 19px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 19px;
    margin-right: 19px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1459px;
  }

  .u-section-8 .u-group-1 {
    width: 474px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 357px;
    margin-left: 92px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 14px;
    margin-right: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-text-2 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-5 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-6 {
    margin-left: 9px;
    margin-right: 9px;
  }

  .u-section-8 .u-text-7 {
    margin-left: 9px;
    margin-right: 9px;
  }
} .u-section-9 {
  background-image: none;
}

.u-section-9 .u-sheet-1 {
  min-height: 479px;
}

.u-section-9 .u-layout-wrap-1 {
  margin: 53px auto 53px 0;
}

.u-section-9 .u-layout-cell-1 {
  min-height: 373px;
}

.u-section-9 .u-form-1 {
  height: 285px;
  width: 476px;
  margin: 34px auto;
}

.u-section-9 .u-btn-1 {
  border-radius: 33px;
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
}

.u-section-9 .u-layout-cell-2 {
  min-height: 171px;
}

.u-section-9 .u-text-1 {
  font-size: 1.875rem;
  position: relative;
  margin: 33px 60px 0;
}

.u-section-9 .u-text-2 {
  position: relative;
  margin: 20px 60px 0;
}

.u-section-9 .u-image-1 {
  width: 149px;
  height: 170px;
  margin-top: -159px;
  margin-right: 16px;
  margin-left: auto;
}

.u-section-9 .u-layout-cell-3 {
  min-height: 202px;
}

.u-section-9 .u-text-3 {
  font-size: 1.875rem;
  margin: 84px 60px 0;
}

.u-section-9 .u-social-icons-1 {
  white-space: nowrap;
  height: 24px;
  min-height: 16px;
  width: 205px;
  min-width: 164px;
  margin: 16px auto 0 60px;
}

.u-section-9 .u-icon-1 {
  height: 100%;
}

.u-section-9 .u-icon-2 {
  height: 100%;
}

.u-section-9 .u-icon-3 {
  height: 100%;
}

.u-section-9 .u-icon-4 {
  height: 100%;
}

.u-section-9 .u-icon-5 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-9 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-form-1 {
    width: 392px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-9 .u-image-1 {
    width: 123px;
    height: 106px;
    margin-top: -95px;
    margin-right: 13px;
    margin-bottom: 0;
  }

  .u-section-9 .u-text-3 {
    margin-left: 49px;
    margin-right: 49px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-left: 49px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-layout-cell-1 {
    min-height: 532px;
  }

  .u-section-9 .u-form-1 {
    height: 305px;
    width: 301px;
    margin-top: 33px;
    margin-bottom: 55px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-9 .u-image-1 {
    width: 94px;
    margin-top: -37px;
    margin-right: 16px;
    margin-bottom: 24px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 246px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 38px;
    margin-right: 38px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-left: 38px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 984px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 68px;
    margin-bottom: 68px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 385px;
  }

  .u-section-9 .u-form-1 {
    width: 500px;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .u-section-9 .u-layout-cell-2 {
    min-height: 253px;
  }

  .u-section-9 .u-text-1 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-9 .u-image-1 {
    width: 288px;
    margin-right: 8px;
  }

  .u-section-9 .u-layout-cell-3 {
    min-height: 218px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 28px;
    margin-right: 28px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-left: 28px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 907px;
  }

  .u-section-9 .u-layout-wrap-1 {
    margin-top: 54px;
    margin-bottom: 54px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-9 .u-layout-cell-1 {
    min-height: 328px;
  }

  .u-section-9 .u-form-1 {
    margin-top: 22px;
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-9 .u-text-1 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-text-2 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-image-1 {
    width: 74px;
    margin-right: 5px;
  }

  .u-section-9 .u-text-3 {
    margin-left: 18px;
    margin-right: 18px;
  }

  .u-section-9 .u-social-icons-1 {
    margin-left: 18px;
  }
}